<div class="card card-carousel" [@hoverCard]="isCardOpen ? 'open' : 'default'" (mouseover)="toggle()" (mouseout)="toggle()">
    <img src="{{ poster }}" width="100%" height="100%" >
</div>
<div class="card card-premodal" [style.opacity]="isCardOpen ? '1' : '0'">
    <img src="{{ poster }}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
