<div class="uk-animation-toggle">
    <div class="uk-animation-shake">
        <a class="uk-link-toggle" href="{{'#modal' + movie.id}}" uk-toggle>
            <img class="" data-src="{{ 'https://image.tmdb.org/t/p/original' + movie.backdrop_path }}" width="100%" height="100%" alt="" uk-img>
        </a>
    
        <!-- modal -->
        <div id="{{'modal' + movie.id}}" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-card uk-padding-remove">

                <div class="uk-card-header uk-height-medium uk-background-cover uk-position-relative" [attr.data-src]="'https://image.tmdb.org/t/p/original' + movie.backdrop_path" uk-img>
                    <div class="modal-header-buttons-container">
                        <button class="uk-button button-white uk-button-large uk-margin-small-right">
                            <i class="fas fa-play fa-lg uk-margin-small-right"></i>Play
                        </button>
                        <button class="button-circle uk-margin-small-right">
                            <i class="fas fa-plus fa-lg"></i>
                        </button>
                        <button class="button-circle uk-margin-small-right">
                            <i class="fas fa-plus fa-lg fa-thumbs-up"></i>
                        </button>
                        <button class="button-circle uk-margin-small-right">
                            <i class="fas fa-plus fa-lg fa-thumbs-down"></i>
                        </button>
                    </div>
                </div>
                <div class="uk-card-body">
                    <h2 class="uk-modal-title">{{ movie.title }}</h2>
                    <span class="">{{ movie.release_date }}</span>
                    <span class=""> | Note{{ movie.vote_average }} | </span>
                    <span id="genres" class="">Genres: {{ displayGenres() }}</span>
                    <p>{{ movie.overview }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
