<nav id="navbar" class="navbar navbar-expand-lg fixed-top navbar-dark position-fixed bg-transparent">
	<div class="container-fluid">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
			<a class="navbar-brand" href="#">
				<img src="../assets/img/netflix-logo.png" alt="" width="90px" class="img-responsive">
			</a>
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="#">Home</a>
				</li>
				<li class="nav-item">
				<a class="nav-link" href="#">TV Shows</a>
				</li>
				<li class="nav-item">
				<a class="nav-link" href="#">Movies</a>
				</li>
				<li class="nav-item">
				<a class="nav-link" href="#">Most watched</a>
				</li>
				<li class="nav-item">
				<a class="nav-link" href="#">My list</a>
				</li>
			</ul>
			<ul class="nav navbar-nav ms-auto">
				<li class="nav-item"><a class="nav-link me-3" href="#"><fa-icon [icon]="faSearch" size="lg"></fa-icon></a></li>
				<li class="nav-item"><a class="nav-link me-3" href="#">DIRECT</a></li>
				<li class="nav-item"><a class="nav-link me-3" href="#">KIDS</a></li>
				<li class="nav-item"><a class="nav-link me-3" href="#"><fa-icon [icon]="faGift" size="lg"></fa-icon></a></li>
				<li class="nav-item"><a class="nav-link" href="#"><fa-icon [icon]="faBell" size="lg"></fa-icon></a></li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<img src="../assets/img/profile.png" alt="" width="35px" class="img-responsive">
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<li><a class="dropdown-item" href="#">Action</a></li>
						<li><a class="dropdown-item" href="#">Another action</a></li>
						<li><a class="dropdown-item" href="#">Something else here</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>

<header class="position-relative">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 col-md-6 ">
				<img src="../assets/img/header-title.png" class="img-fluid" alt="...">
				<p class="fs-2 fw-bold">Watch part 1 now</p>
				<p class="fs-2 w-75">
					He is a charmer, crook and master in the art of disguise. 
					Haunted by the shadow of the past, he seeks a shine of truth.
				</p>
				<div>
					<button type="button" class="btn btn-white btn-lg me-3"><fa-icon [icon]="faPlay" size="sm" class="me-2"></fa-icon>Play</button>
					<button type="button" class="btn btn-grey btn-lg"><fa-icon [icon]="faInfoCircle" size="sm" class="me-2"></fa-icon>More Infos</button>
				</div>
			</div>
		</div>
	</div>
</header>

<div class="content-container">
	<section>
		<div class="container-fluid">
			<h2 class="fw-bold">Trending Movies</h2>
			<ngx-slick-carousel class="carousel" #slickModal="" [config]="slideConfig">
				<div ngxSlickItem *ngFor="let movie of trendingMovies" class="slide">
					<img src="{{ this.apiService.api.posters + movie.poster_path }}" width="100%" height="100%" >
					<!-- <button type="button" class="slick-prev">Previous</button>
					<button type="button" class="slick-next">Next</button> -->
				</div>
			</ngx-slick-carousel>
		</div>
	</section>

	<section>
		<div class="container-fluid">
			<h2 class="fw-bold">Trending Shows</h2>
			<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
				<div ngxSlickItem *ngFor="let show of trendingShows" class="slide">
					<img src="{{ this.apiService.api.posters + show.poster_path }}" width="100%" height="100%" >
					<!-- <button type="button" class="slick-prev">Previous</button>
					<button type="button" class="slick-next">Next</button> -->
				</div>
			</ngx-slick-carousel>
		</div>
	</section>
	<section>
		<div class="container-fluid">
			<h2 class="fw-bold">Trending Shows</h2>
			<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
				<div ngxSlickItem *ngFor="let show of trendingShows" class="slide">
					<img src="{{ this.apiService.api.posters + show.poster_path }}" width="100%" height="100%" >
					<!-- <button type="button" class="slick-prev">Previous</button>
					<button type="button" class="slick-next">Next</button> -->
				</div>
			</ngx-slick-carousel>
		</div>
	</section>
</div>

<router-outlet></router-outlet>