<header>
	<div class="uk-preserve-color">
		<div uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky uk-dark; cls-inactive: uk-navbar-transparent uk-light; top: 60">
			<nav class="uk-navbar-container uk-navbar-transparent">
				<div class="uk-container uk-container-expand">
					<div uk-navbar>
						<!-- hamburger menu -->
						<div class="uk-navbar-left uk-margin-left uk-margin-top uk-hidden@m">
							<img class="uk-margin-right" src="../assets/img/main-logo.png" alt="" width="90px">
							<ul class="uk-navbar-nav">
								<li class="">
									<i class="fas fa-bars fa-2x" uk-toggle="target: #offcanvas-slide"></i>
									<div id="offcanvas-slide" uk-offcanvas="overlay: true">
										<div class="uk-offcanvas-bar">
									
											<button class="uk-offcanvas-close" type="button" uk-close></button>
									
											<ul class="uk-list">
												<li class="uk-active"><a href="#">Home</a></li>
												<li class=""><a href="#">Shows</a></li>
												<li class=""><a href="#">Movies</a></li>
												<li class=""><a href="#">Most watching</a></li>
												<li class=""><a href="#">Watchlist</a></li>
												<hr>
												<li class=""><a href="#">Live</a></li>
												<li class=""><a href="#">Kids</a></li>
												<li class=""><a href="#"><i class="fas fa-gift fa-lg"></i></a></li>
												<li class=""><a href="#"><i class="fas fa-bell fa-lg"></i></a></li>
												<hr>
												<li><a href="#">Manage profiles</a></li>
												<li><a href="#">Account</a></li>
												<li><a href="#">Help center</a></li>
												<li><a href="#">Logout</a></li>
											</ul>
									
										</div>
									</div>
								</li>
							</ul>
						</div>
						<!-- desktop menu -->
						<div class="uk-navbar-left">
							<ul class="uk-navbar-nav uk-visible@m">
								<a class="uk-navbar-item uk-logo" href="#">
									<img class="" src="../assets/img/main-logo.png" alt="" width="90px">
								</a>
								<li class="uk-active"><a href="#">Home</a></li>
								<li class=""><a href="#">Shows</a></li>
								<li class=""><a href="#">Movies</a></li>
								<li class=""><a href="#">Most watching</a></li>
								<li class=""><a href="#">Watchlist</a></li>
							</ul>
						</div>
						<div class="uk-navbar-right">
							<ul class="uk-navbar-nav uk-visible@m">
								<li class="">
									<a href="#">
										<i class="fas fa-search fa-lg"></i>
									</a>
								</li>
								<li class=""><a href="#">Live</a></li>
								<li class=""><a href="#">Kids</a></li>
								<li class="">
									<a href="#">
										<i class="fas fa-gift fa-lg"></i>
									</a>
								</li>
								<li class="">
									<a href="#">
										<i class="fas fa-bell fa-lg"></i>
									</a>
								</li>
								<li class="">
									<a>
										<img class="uk-margin-auto-vertical uk-margin-auto" src="../assets/img/profile.png" alt="" width="35px" class="">
										<span uk-icon="icon: triangle-down"></span>
									</a>
									<div uk-dropdown>
										<ul class="uk-nav uk-dropdown-nav">
											<li>
												<a href="#">
												<img class="uk-margin-auto-vertical uk-margin-auto" src="../assets/img/profile.png" alt="" width="35px" class="">
												Océane
												</a>
											</li>
											<li>
												<a href="#">
												<img class="uk-margin-auto-vertical uk-margin-auto" src="../assets/img/profile.png" alt="" width="35px" class="">
												Kids
												</a>
											</li>
											<li><a href="#">Manage profiles</a></li>
											<li class="uk-nav-divider"></li>
											<li><a href="#">Account</a></li>
											<li><a href="#">Help center</a></li>
											<li><a href="#">Logout</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</nav>
		</div>
		<div class="uk-section-large">
			<div class="uk-container uk-container-expand">
				<div class="uk-light">
					<div class="uk-width-1-4@m">
						<img class="uk-responsive" src="../assets/img/header-title.png" alt="">
					</div>
					<div class="uk-width-1-3@m">
						<p class="">
							Inspired by the adventures of Arsène Lupin, 
							gentleman thief Assane Diop sets out to avenge 
							his father for an injustice inflicted by a wealthy family.
						</p>
						<div class="">
							<button class="uk-button button-white uk-margin-small-right uk-responsive-width">
								<i class="fas fa-play fa-lg uk-margin-small-right"></i>Play
							</button>
							<button class="uk-button button-grey uk-margin-small-right uk-responsive-width">
								<i class="fas fa-info-circle fa-lg uk-margin-small-right"></i>More infos
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<div class="uk-container uk-container-expand content-container">
	<section class="uk-margin-medium-bottom">
		<h3>Trending Movies</h3>
		<swiper [config]="sliderConfig">
		<ng-template swiperSlide *ngFor="let movie of trendingMovies">
			<app-movie-card [poster]="this.apiService.api.posters + movie.poster_path" [movie]="movie" [genres]="moviesGenresList"></app-movie-card>
		</ng-template>
		</swiper>
	</section>

	<section class="uk-margin-medium-bottom">
		<h3>Top Rated Movies</h3>
		<swiper [config]="sliderConfig">
		<ng-template swiperSlide *ngFor="let movie of topRatedMovies">
			<app-movie-card [poster]="this.apiService.api.posters + movie.poster_path" [movie]="movie" [genres]="moviesGenresList"></app-movie-card>
		</ng-template>
		</swiper>
	</section>

	<section class="uk-margin-medium-bottom">
		<h3>Trending Shows</h3>
		<swiper [config]="sliderConfig">
		<ng-template swiperSlide *ngFor="let show of trendingShows">
			<app-show-card [poster]="this.apiService.api.posters + show.poster_path" [show]="show" [genres]="moviesGenresList"></app-show-card>
		</ng-template>
		</swiper>
	</section>
	<section class="uk-margin-medium-bottom">
		<h3>Top Rated Shows</h3>
		<swiper [config]="sliderConfig">
		<ng-template swiperSlide *ngFor="let show of trendingShows">
			<app-show-card [poster]="this.apiService.api.posters + show.poster_path" [show]="show" [genres]="moviesGenresList"></app-show-card>
		</ng-template>
		</swiper>
	</section>
	<section class="uk-margin-medium-bottom">
		<h3>Action</h3>
		<swiper [config]="sliderConfig">
		<ng-template swiperSlide *ngFor="let show of trendingShows">
			<app-show-card [poster]="this.apiService.api.posters + show.poster_path" [show]="show" [genres]="moviesGenresList"></app-show-card>
		</ng-template>
		</swiper>
	</section>
	<section class="uk-margin-medium-bottom">
		<h3>Drama</h3>
		<swiper [config]="sliderConfig">
		<ng-template swiperSlide *ngFor="let show of trendingShows">
			<app-show-card [poster]="this.apiService.api.posters + show.poster_path" [show]="show" [genres]="moviesGenresList"></app-show-card>
		</ng-template>
		</swiper>
	</section>
	<section class="uk-margin-medium-bottom">
		<h3>Comedy</h3>
		<swiper [config]="sliderConfig">
		<ng-template swiperSlide *ngFor="let show of trendingShows">
			<app-show-card [poster]="this.apiService.api.posters + show.poster_path" [show]="show" [genres]="moviesGenresList"></app-show-card>
		</ng-template>
		</swiper>
	</section>
</div>



<footer>
	<div class="uk-container uk-container-expand">
		<div class="uk-grid">
			<div>
				<span class="footer-icons"><i class="fab fa-facebook-square fa-2x uk-margin-right"></i></span>
				<span class="footer-icons"><i class="fab fa-instagram-square fa-2x uk-margin-right"></i></span>
				<span class="footer-icons"><i class="fab fa-twitter fa-2x uk-margin-right"></i></span>
				<span class="footer-icons"><i class="fab fa-youtube fa-2x uk-margin-right"></i></span>
			</div>
		</div>
		<div class="uk-grid uk-child-width-expand@s">
			<ul class="uk-list">
				<li><a class="" href="#">Audio et subtitles</a></li>
				<li><a class="" href="#">Press</a></li>
				<li><a class="" href="#">Privacy</a></li>
				<li><a class="" href="#">Touch us</a></li>
			</ul>
			<ul class="uk-list">
				<li><a class="" href="#">audio description</a></li>
				<li><a class="" href="#">Investors relations</a></li>
				<li><a class="" href="#">legal information</a></li>
			</ul>
			<ul class="uk-list">
				<li><a class="" href="#">Help center</a></li>
				<li><a class="" href="#">recruitment</a></li>
				<li><a class="" href="#">Cookies preferences</a></li>
			</ul>
			<ul class="uk-list">
				<li><a class="" href="#">Gift cards</a></li>
				<li><a class="" href="#">Terms of use</a></li>
				<li><a class="" href="#">Legal notice</a></li>
			</ul>
		</div>
		<div class="uk-margin-top">
			<button type="button" class="uk-button uk-button-default" disabled>
				Service code
			</button>
		</div>
		<div class="uk-margin-top">
			<p>
				© 1987-2021 lioens.dev, Inc.
			</p>
		</div>
	</div>
</footer>

<router-outlet></router-outlet>