$black: #141414
body
  background-color: $black
  color: #FFF

.bg-black
    background-color: $black

section, container
    background-color: transparent

.navbar-link
    color:#FFFFFF !important

.navbar-dark .navbar-nav .nav-link
    color: #FFFFFF

header
    height: 100vh
    background: url(./assets/img/header.jpg)
    background-size: 100%
    padding-top: 150px

.btn-white
    background-color: #FFFFFF

.btn-grey
    background-color: #525354
    color: #FFFFFF

.content-container
    position: relative
    top: -150px

    