body
  background-color: #141414
  padding: 0 60px 0 60px
  color: #FFFFFF

.navbar-link
    color:#FFFFFF !important

.navbar-dark .navbar-nav .nav-link
    color: #FFFFFF
    
.carousel
    background-color: transparent

section, container
    background-color: transparent